.flex-container {
    width: 475px;
    height: 700px;
    display: flex;
    background-color: rgb(254, 255, 252);
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    color: hwb(0 100% 0%);
    flex-direction: row;
  }
  
  .flex-item {
    padding: 30px;
    font-size: 30px;
  }

  .item1{
    background-color:  rgb(4, 247, 16);
    flex-basis: 170px;
    height: 170px;
  }
  .item2{
    background-color: rgb(24, 134, 189);
    flex-basis: 160px;
    height: 170px;
  }
  .item3{
    background-color:  rgb(4, 247, 16);
    flex-basis: 50px;
    height: 170px;

  }

  .item4{
    background-color: rgb(221, 218, 15);
    width: 170px;
    height: 170px;

  }
  .item5{
    background-color: rgb(38, 4, 255);
    flex-basis: 40px;
  }
  .item6{
    background-color:  rgb(4, 247, 16);
    flex-basis: 40px;
  }
  .item7{
    background-color: rgb(220, 195, 163);
    flex-basis: 50px;
    
  }

  .item8{
    background-color: rgb(250, 148, 14);
    flex-basis: 50px;

  }
  .item9{
    background-color: rgb(221, 16, 16);
    flex-basis: 50px;

  }
  .item10{
    background-color: rgb(17, 112, 221);
    flex-basis: 400px;

  }
